$white: #fff;
$d-50: rgba(203, 203, 203, 0.5);
$primary-dark: #f03c43;
$primary-darker: #ce2e33;
$gray-a: #f8f8f8;
$gray-b: #f3f3f3;
$primary-light: #fe8084;
$primary-main: #ff5a60;
$primary-lighter: #fa9a9e;
$white-70: rgba(255, 255, 255, 0.7);
$gray-d: #cbcbcb;
$gray-c-forms-line: #eaeaea;
$gray-e-stoke-imputs: #bdbcbc;
$gray-f: #a6a6a6;
$gray-h: #7e7c7c;
$gray-g-text-disabled: #8c8c8c;
$gray-i-main-text: #3e3e3e;
$gray-j-background-modal: #21282d;
$secundary-lighter: #fff9f9;
$secundary-light: #feeaea;
$secundary-main: #ffdada;
$secundary-darker: #f8a3a6;
$secundary-dark: #ffc4c4;
$alternative-1-lighter: #a3f0eb;
$alternative-1-light: #47cbc3;
$alternative-1-main: #47cbc3;
$alternative-1-dark-plusval-a: #29b1a9;
$alternative-2-lighter: #ffc15b;
$alternative-1-darker: #0e9c94;
$alternative-2-light: #fcb33b;
$alternative-2-main: #f5a623;
$alternative-2-dark: #e59206;
$alternative-2-darker: #cd8306;
$alternative-3-lighter: #77c1ff;
$alternative-3-light: #3ca4fc;
$alternative-3-main: #0178dd;
$alternative-3-dark: #0267bd;
$alternative-3-darker: #034d8c;
$alternative-4-lighter: #8ce72a;
$alternative-4-light: #74cc15;
$alternative-4-main: #65b212;
$alternative-4-dark: #519705;
$alternative-4-darker: #427e02;
$danger-lighter: #ff4f4f;
$danger-light: #fb2b2b;
$danger-main: #e90b0b;
$danger-dark-error: #d40707;
$danger-darker: #a00000;
